.categoryNav{
    @apply
    flex
    py-2
    max-w-7xl
    mx-auto
    bg-transparent
    rounded-lg
    overflow-x-auto
    sm:justify-start
    md:justify-center 
}

.categoryLink{
    @apply
    text-black
    hover:border-x-4
    hover:border-green-600
    px-6
    py-2
    flex
    mx-0
}

.cart{
    @apply
    flex
    py-0
    mr-0
    mt-0
    float-right
    bg-transparent
    rounded-lg
    overflow-x-auto
    sm:justify-start
    md:justify-center

}

.shoppingCartIcon{
    @apply
    my-auto
    h-10
    w-10
    text-gray-400
    
}

.link{
    @apply
    ml-12
}

.favButton{
    @apply
    flex
    h-8
    w-8
    ml-auto
    text-red-500
}